<div class="main-panel ps ps--active-y">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Página Inicial</a></li>
              <li class="breadcrumb-item active" aria-current="page">Painel de Gestão</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <h1><span class="fas fa-globe" aria-hidden="true"></span> Painel de Gestão</h1>
        </div>
        <div class="col-sm-5">
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-4 col-form-label">Produto:</label>
            <div class="col-sm-3">
                <select class="btn btn-light">
                    <option>Todos</option>
                </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <app-srm-atalho></app-srm-atalho>
        </div>
        <div class="col-sm-5">
        <app-srm-alerta></app-srm-alerta>
      </div>
      </div>
    </div>
  </div>
</div>
