<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img class="thumb" src="/assets/logo.png"/></a>  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active form-inline">
          <div class="form-group row">
              <label for="inputPassword" class="col-sm-6 col-form-label">Grupo Econômico:</label>
              <div class="col-sm-4">
                  <select class="btn btn-light">
                      <option>Visão Agregada 1</option>
                  </select>
              </div>
            </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <button type="button" class="btnUser btn-primary">
            <span class="fas fa-user" aria-hidden="true"></span> Sandra Oliveira <span class="fas fa-angle-double-down" aria-hidden="true"></span>
    </button>
    <span class="notification hidden-sm hidden-xs">3</span>
    <button type="button" class="btnotification btn-primary"><span class="fas fa-bell" aria-hidden="true"></span></button>
    </form>
  </div>
</nav>