.sidebar-wrapper{
    background: #30426a;
    left: 150px;
    height: 656px;
}
.pesquisar{
    height: 82px;
    border-radius: 0%;
}
.list-group-item-primary {
    color: #ffffff;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #30426a;
    border: 1px solid #5e56d6;
}

