 <!-- side-bar-->
 <div class="sidebar">
  <div class="sidebar-wrapper">
          <input class="form-control form-control-lg pesquisar" type="text" placeholder="Pesquisar...">            
          <div class="list-group">
             <a href="#" routerLink="/painel" class="list-group-item list-group-item-action list-group-item-primary" ><span class="fas fa-globe" aria-hidden="true"></span> Painel de Gestão</a>
             <a href="#" routerLink="/conta" class="list-group-item list-group-item-action list-group-item-primary"><span class="fas fa-at" aria-hidden="true"></span> Conta Digital</a>
             <a  href="#" routerLink="/recebiveis" class="list-group-item list-group-item-action list-group-item-primary"><span class="far fa-chart-bar" aria-hidden="true"></span> Ant. de Recebiveis</a>
          </div>
  </div>
</div>
<!-- end side-bar-->