<div class="main-panel ps ps--active-y">
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Página Inicial</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ant. de Recebiveis</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h1><span class="far fa-chart-bar" aria-hidden="true"></span> Ant. de Recebiveis</h1>
          </div>
          <div class="col-sm-4">

          </div>
        </div>
        <div class="row">

        </div>
      </div>
    </div>
  </div>
  