<div class="card">
  <div class="card-body container">
    <h5 class="card-title">Atalhos</h5>
    <hr class="my-4">
    <table class="tg">
        <tr>
          <th class="tg-0lax" colspan="4">Operacional</th>
          <th class="tg-0lax" rowspan="4" style="padding-left: 56px;"><span class="border-left"></span></th>
          <th class="tg-0lax">Geral</th>
        </tr>
        <tr>
          <td class="tg-0pky" colspan="3"><button type="button" class="btn btn-light">Envio</button></td>
          <td class="tg-0lax"><button type="button" class="btn btn-light">Assinatura</button></td>
          <td class="tg-0lax"><button type="button" class="btn btn-light">Carteira</button></td>
        </tr>
        <tr>
          <td class="tg-0pky" colspan="3"><button type="button" class="btn btn-light">Envio de Duplicatas</button></td>
          <td class="tg-0lax"><button type="button" class="btn btn-light" (click)="add()">Assinatura Digital</button></td>
          <td class="tg-0lax" rowspan="2"><button type="button" class="btn btn-light">Instruções</button></td>
        </tr>
        <tr>
          <td class="tg-0pky" colspan="4"><button type="button" class="btn btn-light">Nova Operação</button></td>
        </tr>
      </table>
  </div>


</div>